<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
  
</head>
<body>
  <form method="POST" action="/property/create">
    <label>Property Type : <input type="text" name="p-Type" /></label>
    <br />
    <br />
    <label>Property Area : <input type="text" name="p-Area" /></label>
    <br />
    <br />
    <button type="submit"> Save New Property</button>
  </form>
</body>
</html>