<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body{
            background-color: khaki;
        }
        h1{
            color: blue;
            background-color: khaki;
        }
    </style>
</head>
<body>
    <h1>This is Home Page</h1>
</body>
</html>